.bx{
    width: 50%;
    margin: auto;
    padding-top: 10%;
}

.bx h1{
    margin: 2rem;
    text-align: center;
}
.accessCode{
    margin-top: 3%;
}

.btnn{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
}

.copy-area{
    width: 10%;
    position: relative;  
}